<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Criar Tarefa</mat-card-title>
    </mat-card-header>

    <form [formGroup]="tarefaForm" (ngSubmit)="onSubmit()">
      <table class="table" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="custom-field">
              <mat-label>Título</mat-label>
              <input matInput formControlName="titulo" />
              <mat-error>Campo obrigatório!</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="custom-field">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="custom-field">
              <mat-label>Selecione a data de vencimento na agenda ao lado</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataVencimento">
              <mat-hint>MM/DD/AAAA</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Campo obrigatório, selecione na agenda ou digite no formato MM/DD/AAA!</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="custom-field">
              <mat-label>Escolha a prioridade em número entre 1 a 5.</mat-label>
              <input type="number" matInput formControlName="prioridade">
              <mat-hint>Menor prioridade: 1. Maior prioridade: 5. </mat-hint>
              <mat-error>Campo obrigatório e deve ser um número entre 1 a 5!</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <button [disabled]="!tarefaForm.valid" class="m-2" mat-raised-button color="primary" type="submit">
              {{ isEditMode ? "Atualizar tarefa" : "Criar tarefa" }}
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>

  <table class="table mt-5 align-middle">
    <thead>
      <tr>
          <th scope="col">Status</th>
          <th scope="col">Título</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de Vencimento</th>
          <th scope="col">Prioridade</th>
          <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let tarefa of tarefas">
        <td class="col-md-1">
          <mat-checkbox
            name="finalizado"
            [ngModel]="tarefa.finalizado"
            (change)="patchTarefaStatus(tarefa.id!, !tarefa.finalizado)"
          ></mat-checkbox>
        </td>
        <td class="col-md-2">{{ tarefa.titulo }}</td>
        <td class="col-md-3">{{ tarefa.descricao }}</td>
        <td class="col-md-2">{{ tarefa.dataVencimento | date:"dd/MM/YYYY" }}</td>
        <td class="col-md-2">{{ tarefa.prioridade }}</td>
        <td class="col-md-2">
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            (click)="handleEdit(tarefa)">
            <mat-icon
              color="primary"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit">
            </mat-icon>
          </button>

          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            (click)="deleteTarefa(tarefa.id!)">
            <mat-icon
              color="accent"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" class="p-5 flex-center">
    <ul class="pagination">
      <ng-container>
        <li class="page-item">
          <a
            class="page-link"
            (click)="getTarefasWithPagination(pageNum - 1)"
            [class.disabled]="pageNum === 0"
            >Anterior</a>
        </li>
        <li class="page-item" *ngFor="let tempPage of generatedPages">
          <a
            class="page-link"
            [class.active]="pageNum === tempPage.value"
            (click)="getTarefasWithPagination(tempPage.value)"
            >{{ tempPage.displayValue }}</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="#"
            (click)="getTarefasWithPagination(pageNum + 1)"
            [class.disabled]="pageNum === generatedPages.length - 1"
            >Próxima</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</div>
